/* TenderForm.css */
.form-container {
  background-image: url('../bd2.jpg'); 
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form {
  background: rgba(255, 255, 255, 0.9);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, select, textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  background-color: #1976d2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #1565c0;
}

.radio-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-group label {
  display: block;
  margin-top: 10px;
}
